<app-header></app-header>
<div class="product-list">
  <h2>DE TODO UN POCO...</h2>
  <p>Adéntrate en esta sección y descubre los platos principales que más cautivan a nuestros clientes. Explora una variedad infinita de opciones y atrévete a personalizar tu propia obra maestra. ¿Qué estás esperando para sumergirte en esta experiencia? </p>
  <p>
    Además, si encuentras algún producto que te encanta, no olvides añadirlo a tus favoritos para no perderlo de vista. Una vez que hayas decidido qué productos deseas, ¡ponte en contacto con nosotros vía WhatsApp para obtener más información y realizar tu pedido!
  </p>
  <div style="margin-top: 5px;" class="container">
  </div>
  <div class="card-container">
    <div *ngFor="let producto of products"  class="product-list--producto">
      <app-product [producto]="producto" (productoBorrado)="onProductoBorrado($event)"></app-product>
    </div>
  </div>
</div>
<app-footer></app-footer>


