<app-header></app-header>
<section class="contacto-container">
<div class="container">
    <div class="box-info">
        <h1>CONTÁCTATE CON NOSOTROS</h1>
        <div class="data">
            <p><i class="fa-solid fa-phone"></i> +1 408 224 4587</p>
            <p><i class="fa-solid fa-envelope"></i> livingcodedev@gmail.com</p>
            <p><i class="fa-solid fa-location-dot"></i> 30 Grant Ave San Francisco CA 94108-5834. USA</p>
        </div>
        <div class="links">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    <form>
        <div class="input-box">
            <input type="text" placeholder="Nombre y apellido" required>
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="input-box">
            <input type="email" required placeholder="Correo electrónico">
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Asunto">
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
        <div class="input-box">
            <textarea placeholder="Escribe tu mensaje..."></textarea>
        </div>
        <button type="submit">Enviar mensaje</button>
    </form>
</div>

</section>
<app-footer></app-footer>