<form (ngSubmit)="formHandler()" [formGroup]="registerForm">
  <div class="form-group">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" formControlName="name" required>
  </div>
  <div class="form-group">
    <label for="surname">Apellido:</label>
    <input type="surname" id="surname" name="surname" formControlName="surname" required>
  </div>
  <div>
    <label for="email">Correo electronico:</label>
    <input type="email" id="email" name="email" formControlName="email" required>
  </div>
  <div class="form-group">
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" formControlName="password" required>
  </div>
  <button type="submit">Registrarse</button>
</form>

<div *ngIf="status === 'success'">
<h2>{{message}}</h2>
<button routerLink="'login'">Ir al login</button>
</div>

<div class="spinner" *ngIf="status === 'loading'">
  <h2>Procesando..</h2>
  <!-- <mat-spinner></mat-spinner> -->
</div>

<div *ngIf="status === 'unauthorized'">
<h2>{{message}}</h2>
</div>
