<app-header></app-header>
<div class="title-container">
    <div class="profile-title">
        <h2>TARTAS TRADICIONALES 🥳</h2>
        <p style="margin-top: 20px; padding: 20px;">¡Las tartas tradicionales son un clásico atemporal que nunca pasa de moda! Con recetas transmitidas de generación en generación, estas delicias son perfectas para cualquier ocasión. Desde la clásica tarta de manzana hasta la decadente tarta de chocolate, hay una opción para todos los gustos. Disfruta de la calidez y el sabor reconfortante de las tartas tradicionales que te transportarán a momentos llenos de nostalgia. ¡No olvides agregar tus favoritas a la lista de deseos y luego realizar tu pedido por WhatsApp para deleitarte con estos sabores clásicos!</p>
    </div>
</div>
<div class="all-container">
<div class="container" >
    <div class="favoritos-container" *ngFor="let producto of tartasTradicionales">
         <!-- TODO: CREAR UN BOTON PARA QUE EDITE Y LUEGO BORRE LOS PRODUCTOS. YA ESTA IMPLEMENTADO EN EL TS, PERO NO SE PORQUE NO SALE EL BOTON... -->
       <!-- <div *ngIf="isAdmin" style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 5px; gap: 5px">
        <button [routerLink]="['/admin/edit-product', producto._id]" >Editar</button>
        <button (click)="deleteProduct(producto._id)" >Eliminar</button>
      </div>  -->
        <div class="card-container">
            <div class="products-favoritos">
                <img [src]="producto.image" />
            <div class="descripcion-producto" >
              <h3 class="texto-acortado">{{ producto.category.toUpperCase() }}</h3>
              <h2 class="titulo-acortado">{{ producto.name }}</h2>
              <p class="texto-acortado">{{ producto.description }}</p>
            </div>
            <div class="button-container">
              <button style="background-color: rgba(255, 0, 217, 0.507);" class="btn-fav" (click)="addToFavorites(producto._id)" [ngClass]="{'favorite': isFavorite(producto._id)}" >
                <i class="fa-regular fa-star" ></i> Agregar este producto a favoritos
              </button>
            </div>
            </div>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>