<form (ngSubmit)="createProduct()" [formGroup]="createProductForm">
  <h2 style="margin-bottom: 20px; text-align: center;">Crear producto</h2>
  <div class="form-group">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" formControlName="name" required>
  </div>
  <div class="form-group">
    <label for="surname">Description:</label>
    <textarea cols="30" rows="5" type="text" id="description" name="description" formControlName="description" required></textarea>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" id="price" name="price" formControlName="price" required>
  </div>
  <div class="form-group">
    <label for="categories">Categoria:</label>
    <select id="categories" name="category" formControlName="category" required>
      <option value="Mesa dulce">Mesa dulce</option>
      <option value="Alfajores y galletas">Alfajores y galletas</option>
      <option value="Semifríos">Semifríos</option>
      <option value="Tartas personalizadas">Tartas personalizadas</option>
      <option value="Tartas tradicionales">Tartas tradicionales</option>
    </select>
  </div>
  <div class="form-group">
    <label for="imagen">Seleccionar imagen:</label>
    <input (change)="onFileChange($event)" type="file" id="image" formControlName="image" accept="image/*">
  </div>

  <button type="submit">Registrar Producto</button>
</form>
